.request {
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:auto;
  height:40vh;
  width:40%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  top:58vh;
  left:0;
  right:0;
  margin-left: auto;
  margin-right:auto;
}

.car-type-div {
  display:flex;
  justify-content: center;
  border-bottom: 0.5px solid grey;
  width:100%;
}

.car-type-div img {
  height:50px;
  width:70px;
}

.ride-type-section{
  display:flex;
  margin-left:6px;
  flex-direction: column;
}

.ride-type-section p{
  margin:0px;
}

.ride-type-desc {
  font-size: 12px;
}

.the-estimate-box {
  height:70%;
  width:90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

.eta-and-cost {
  text-align: center;
  display:flex;
  justify-content: center;
  font-size:15px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid grey;
  width:100%;

}

.the-eta-title {
  border-right: 0.5px solid grey;
  height: 100%;
  padding-right:10px;
}

.eta-title {
  padding-left:10px;
}


.address-input {
  margin-left:20px;
}

.request-shyft-btn {
  border-radius: 20px;
  height:20%;
  width:90%;
  background-color:#FF00BF;
  display:flex;
  justify-content: center;
  align-items: center;
}
