.request {
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:auto;
  height:40vh;
  width:350px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  top:58vh;
  margin-left: 5px;
}

.car-type-div {
  display:flex;
  justify-content: center;
  border-bottom: 0.5px solid grey;
  width:100%;
  padding-bottom: 12px;
}

.car-type-div img {
  height:50px;
  width:70px;
}

.ride-type-section{
  display:flex;
  margin-left:6px;
  margin-top: 10px;
  flex-direction: column;
}

.ride-type-section p{
  margin:0px;
}

.ride-type-desc {
  font-size: 12px;
}

.the-eta-box {
  height:70%;
  width:90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

.eta-and-cost {
  text-align: center;
  display:flex;
  justify-content: center;
  font-size:15px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid grey;
  width:100%;

}

.the-eta-title {
  border-right: 0.5px solid grey;
  height: 100%;
  padding-right:10px;
}

.eta-title {
  padding-left:10px;
}

.input-section {
  display:flex;
}

.input-section .geosuggest__suggests {
  list-style: none;
  position: absolute;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: white;
  margin-top: -4px;
  transition: max-height 0.2s, border 0.2s;
  overflow-x: hidden;
  overflow-y: auto;
  right: 17px;
  left: 17px;
  padding: 4px 4px 4px 32px;
  border: 1px solid #d8dce6;
  border-top: 1px solid white;
  text-align: left;
  max-height: 88px;
}


.color-dest-circles{
  margin-left:15px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.blue-circle {
  width:8px;
  height:8px;
  border-radius: 100%;
  background-color:#3D0880;
}

.pink-circle {
  width:8px;
  height:8px;
  border-radius: 100%;
  background-color:#FF00BF;
}

.inputs-stacked .address-input {
  margin-left:10px;

}

.address-input input{
  border:none;
  width:100%;
  border-radius: 20px;
}

.inputs-stacked {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 275px;
}

.request-shyft-btn {
  border-radius: 20px;
  height:20%;
  width:90%;
  background-color:#FF00BF;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 2rem;
}


.request-shyft-btn:hover {
  color:white;
}
