
.ridesInMinutes {
  font-size: 1.6rem;
  margin-bottom: 8.5rem;
  margin-top: 4rem;
}

.ridesInMinutes h4 h3 h2 h1 {
  margin-bottom: 1rem;
}

.ridesInMinutes p {
  margin-bottom: 2rem;
  font-weight: 100;
}

.ridesInMinutes .row {
  display: flex;
  flex-wrap: wrap;
}

.ridesInMinutes img {
  max-height: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  margin-bottom: 4rem;
}

.intro h4 {
  font-size: 2rem;
  font-weight: bold;
}

.works h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.works h3 {
  font-size: 2.2rem;
  font-weight: 100;
  margin-bottom: 1.4rem;
  margin-top: 2rem;
}

.steps p {
  height: 4rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px){
  .ridesInMinutes .col-md-4 {
    width: 33.33333333%;
  }
  .intro h4 {
    font-size: 2.2rem;
    margin-top: 15px;
    margin-bottom: 14px;
  }
  .ridesInMinutes p {
    font-size: 1.8rem;
  }
  .works h3 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }
  .ridesInMinutes {
    font-size: 1.75rem;
  }
  .works h2 {
    font-size: 3.3rem;
    margin-bottom: 3rem;
  }
  .steps p {
     height: 7rem;
     margin-bottom: 4rem;
  }
}
