.cities-jumbotron-container .geosuggest-container {
    width: 310px;
    margin: 0 auto;
    border-radius: 7px;
    border: none;
}

.cities-jumbotron-container .geosuggest__input {
    width: 310px;
    color: #d8dce6;
    font-style: italic;
    font-weight: 300;
    font-size: 1.75rem;
    padding: 12px 0px 12px 40px;
    border: 1px solid #d8dce6;
    border-radius: 7px;
}

.cities-jumbotron-container .geosuggest__input::-webkit-input-placeholder{
    color: #d8dce6;
}

.cities-jumbotron-container {
    background-image: url('https://www.lyft.com/images/cities/cities-hero.1e733ed9.png');
    background-size: cover;
    height: 60vh;
    text-align: center;
    background-position: top;
    background-repeat: no-repeat;
}

.cities-jumbotron-title {
    padding-top: 180px;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 2px 4px black;
    color: #F3F3F5;
    margin-bottom: 5px;
}

.cities-jumbotron-input-container {
    position: relative;
    margin: 0 auto;
    width: 310px;
}

.cities-jumbotron-input {
    border-radius: 7px;
    padding: 13px 0 13px 40px;
    border: 1px solid #d8dce6;
    width: 310px;
}

.cities-jumbotron-input::-webkit-input-placeholder {
      color: #d8dce6;
      font-style: italic;
      font-weight: 300;
      font-size: 1.75rem;
  }

.cities-jumbotron-input-container input,
.cities-jumbotron-input-container input:focus {
    color: #d8dce6;
    outline: none;
}

.cities-magnify {
    position: absolute;
    top: 13px;
    left: 13px;
    color: #d8dce6;
}

.cities-jumbotron-input-container .geosuggest__suggests{
  list-style: none;
  position: absolute;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background: white;
  padding-left: 26px;
  margin-top: -7px;
  transition: max-height 0.2s, border 0.2s;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0px;
  left: 0px;
  font-size: 1.75rem;
  padding: 12px 0px 12px 40px;
  border: 1px solid #d8dce6;
  border-top: 1px solid white;
  text-align: left;
}

.citynotavailable {
  padding-top: 10px;
  background:#fff;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-top: -4px;
  z-index: 50;
  display: none;
}

.citynotavailable.active {
  display: block;
}

.citynotavailable p {
  margin-top: 10px;
  font-weight: 100;
}

.citynotavailable p:nth-child(1) {
  font-weight: 600;
}

.citynotavailable button {
  width: 60px;
  margin-bottom: 15px;
  color: #fff;
  background-color: #2AACE3;
  border-color: #2AACE3;
  border-radius: .25rem;
  padding: .25rem .75rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border: .08333rem solid transparent;
}


@media (min-width: 768px) {

  .cities-jumbotron-title {
      font-size: 4.5rem;
    }
}
