.login-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .9);
    z-index: 100;
    overflow: hidden;
}

.login-container-active {
    display: block;
}

.login-form-container {
    text-align: center;
    margin: 0 auto;
    transform: translateY(-385px);
    width: 280px;
    height: 370px;
    background: #fff;
    color: #8f9cb3;
    font-weight: 300;
    transition: transform .5s ease;
}

.login-form-container-active {
    transform: translateY(185px);
}

.login-close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.login-close:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login-heading {
    margin-bottom: 10px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 2.25rem;
    color: #333;
}

.login-input-container {
    margin-bottom: 20px;
}

.login-input-container input {
    padding: 8px 15px;
    width: 250px;
    border-radius: 7px;
    border: 1px solid #d8dce6;
}

.login-button {
    width: 250px;
    font-size: 1.45rem;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #e600ac;
    border-color: #e600ac;
}

.login-button:active,
.login-button:focus {
    background-color: #e600ac;
    border-color: #e600ac;
}

.login-or {
    color: #333;
}

.login-facebook-btn {
    border-radius: 7px;
    border: none;
    padding: 8px;
    font-size: 1.65rem;
    width: 250px;
    margin-bottom: 15px;
}

.login-fb-logo {
    font-size: 22px;
    vertical-align: text-bottom;
    margin-right: 8px;
}

.login-signup,
.login-contact {
    color: #ff00bf;
    margin-left: 5px;
}

.login-newtolyft {
    width: 265px;
}
