

.editinfo-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .9);
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
}

.editinfo-info-container {
    position: relative;
    margin: 85px auto;
    height: 500px;
    background: #fff;
    width: 80%;
    padding-top: 10px;
}

.editinfo-logo-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.editinfo-logo {
    width: 80px;
    transition: all .2s ease;
}

.editinfo-update-content {
    width: 80%;
    height: auto;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
    margin: 10px auto;
}

.editinfo-update-content input {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
    width: 100%;
}

.editinfo-update-btn-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.editinfo-update-btn {
    width: 100%;
    background: none;
    border: 1px solid #ff00bf;
    color: #ff00bf;
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    transition: all .2s ease;
}

@media (min-width: 550px){
    .editinfo-update-btn {
        width: 250px;
    }

    .editinfo-logo {
        width: 100px;
    }
}
