.footer {
  background-color: #333447;
  color:#F3F3F5;
  line-height: 1.5;
  font-size: 16px;
  width:100%;
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-links {
  margin-bottom:4rem;
}

.footer ul{
  list-style-type: none;
  padding-left: 0;
}

.footer-links ul {
  margin-top:2rem;
}

.footer-buttons {
  margin-bottom:4rem;
  margin-left: auto;
}

.footer a {
  color: #F3F3F5;
  font-weight: 100;
}

.footer a:hover {
  color: #b30086;
  text-decoration: underline;
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}

.footer-sign-up-button {
  font-size:16px;
  width:160px;
  height:48px;
  margin-bottom:10px;
  background-color:#cc0099;
  border-color:#cc0099;
  border-radius:10px;
}

.footer .btn:hover {
  color:#F3F3F5;
}

.footer-store img {
  width:160px;
  height:48px;
  border-radius:10px;
  margin-bottom: 10px;
}

.footer .border-t {
  border-top: 1px solid #F3F3F5;
  padding-top: 1.5rem;
}

.footer .x {
  display:flex;
  justify-content: center;
}

.footer .logo-circle {
  height:50px;
  width:50px;
  border: #F3F3F5 1.5px solid;
  border-radius:100%;
  margin-right:10px;
  margin-bottom:1.5rem;
}

.footer .justify-center {
  justify-content:center;
}

.footer .xs-col {
  flex: 0 0 100%;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.footer .justify-between {
  justify-content: space-between;
}

.social-links {
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.footer .row {
  display:flex;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}



@media(min-width: 544px) {
    .footer {
      text-align: left;
    }

  .footer .flex-sm {
    display:flex;
  }



}

@media (min-width: 768px) {
  .footer {
    padding-left: 4rem;
    padding-right:4rem;
  }


  .footer .text-md-right {
    text-align: right;
  }

  .footer .medium-col {
    flex: 0 0 16.66667%;
  }

   .footer .med-6-col {
    flex: 0 0 50%;
  }

  .footer .justify-between-md {
    justify-content: space-between;
  }
  .footer-buttons {
    margin-bottom: 4rem;
    margin-right: 15px;
    margin-left: auto;
    margin-top: 35px;
  }
  .social-links {
    margin-left: 20px;
    margin-top: 60px;
  }
  .sitemap {
    line-height: 2.4;
  }
}


@media (min-width: 992px) {
  .footer .lg-col {
    flex: 0 0 33.33333%;
  }
}
