.footer {
  background-color: #333447;
  color:#F3F3F5;
  line-height: 2.5;
  font-size: 16px;
  width:100%;
  

}

.footer ul {
  list-style-type: none;
  margin:4rem 0;
}

.footer-top li {
  margin-right: 40px;
}

.footer a {
  color: #F3F3F5;
}

.footer a:hover {
  color: #b30086;
  text-decoration: underline;
}


.footer-top {
  display:flex;
  justify-content: space-between;
}

.footer-links {
  display:flex;
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}

.footer-buttons {
  display:flex;
  flex-direction: column;
}

.footer-buttons button {
  width:160px;
  height:48px;
  margin-right:55px;
  margin-top: 50px;
  margin-bottom:10px;
}



.footer-sign-up-button {
  font-size:16px;
  background-color:#cc0099;
  border-color:#cc0099;
  border-radius:10px;
}

.btn:hover {
  color:#F3F3F5;
}

.footer-store img {
  width:160px;
  height:48px;
  border-radius:10px;
  margin-bottom: 10px;
}

.footer-icons {
  display:flex;
  justify-content: center;
}

.footer-icons ul {
  display:flex;
  flex-direction: row;
  padding-bottom:40px;
  border-bottom: 1px #F3F3F5 solid;
}

.logo-circle {
  height:50px;
  width:50px;
  border: #F3F3F5 1.5px solid;
  border-radius:100%;
  margin-right:50px;
}

.footer-creds {
  display:flex;
  justify-content: center;
}

.footer-creds p {
  margin-right: 17px;
}
