.footer {
  background-color: #333447;
  color:#F3F3F5;
  line-height: 2.5;
  font-size: 16px;
}

.footer ul {
  list-style-type: none;
  margin:4rem 0;
}

.footer a {
  color: #F3F3F5;
}

.footer a:hover {
  color: #b30086;
  text-decoration: underline;
}


.footer-top {
  display:flex;
  justify-content: space-between;
}

.footer-links {
  display:flex;
}

.footer-buttons {
  display:flex;
}

.footer-buttons button {
  width:160px;
  height:48px;
  margin-right: 55px;
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}

.footer-sign-up-button {
  margin-top:45px;
  font-size:16px;
  background-color:#cc0099;
  border-color:#cc0099;
  border-radius:10px;
}

.btn:hover {
  color:#F3F3F5;
}

.app-store {
  background-img:url('https://cdn.lyft.net/brochure/images/apple-store.c9dcada1.svg');
  width:160px;
  height:48px;
}
