 .StartRide .reqest  {
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:auto;
  height:40vh;
  width:350px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  top:58vh;
  left:5px;

  margin-left: auto;
  margin-right:auto;
  padding-top: 7px;
}

.StartRide .car-type-div {
  display:flex;
  justify-content: center;
  border-bottom: 0.5px solid grey;
  width:100%;
}

.StartRide .car-type-div img {
  height:50px;
  width:70px;
}

.StartRide .ride-type-section{
  display:flex;
  margin-left:6px;
  flex-direction: column;
}

.StartRide .ride-type-section p{
  margin:0px;
}

.StartRide .ride-type-desc {
  font-size: 12px;
}

.StartRide .the-estimate-box {
  height:70%;
  width:90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

.StartRide .Your-lyft-is_ready_box {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-bottom: 15px;
  /* border-bottom: 0.5px solid grey; */
  width: 100%;
  /* background-color: black; */
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.StartRide .Your_ride_is_ready_inner {
  /* background-color: black; */
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;


}







.StartRide .confirm-Your-ride_button {
  border-radius: 20px;
  height:20%;
  width:90%;
  background-color:#FF00BF;
  display:flex;
  justify-content: center;
  align-items: center;
    margin-bottom: 6px;
    color:white;
  }

.StartRide .request-shyft-btn {
  border-radius: 20px;
  height:20%;
  width:90%;
  background-color: #3D0981;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  border: none;
}
