


/*/////////////////////////////////
// MOBILE NAV BAR DISPLAYED WITH UNDER 768PX
///////////////////////////////////*/

.navbar-mobile {
    position: fixed;
    width:100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,0));
    z-index: 10;
    transition: all .2s ease;
}

.navbar-mobile span {
    width: 45%;
    padding-left: 20px;
    transition: all .2s ease;
}

.navbar-mobile-logo {
    width: 42px;
}

.navbar-mobile-active {
    background: white;
    box-shadow: 1px 1px 5px grey;
}

.navbar-mobile-logo-hide {
    display: none;
}

.navbar-mobile-logo2 {
    display: none;
}

.navbar-mobile-logo2-active {
    display: initial;
    width: 42px;
}


/*////////////////////////////////////
// ON HOVER DROPDOWN NAVBAR MENU
///////////////////////////////////*/

.navbar-hover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: -100px;
    left: 0;
    background: white;
    border-top: 1px solid #d8dce6;
    font-size: 1.85rem;
    font-weight: 300;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.3);
    z-index: 5;
    transition: top .2s ease;
}

.navbar-hover-container-active {
    top: 80px;
}

.navbar-hover-options {
    padding: 5px 15px;
    border-right: 1px solid #d8dce6;
    transition: all .2s ease;
}

.navbar-hover-options:hover {
    cursor: pointer;
    color: #ff00bf;
}

.border-hide {
    border: none;
}



/*////////////////////////////////////
// MAIN NAVBAR
/////////////////////////////////////*/

.navbar-container {
    display: none;
    position: fixed;
    width: 100%;
    color: #F3F3F5;
    font-size: 1.85rem;
    align-items: center;
    height: 80px;
    font-weight: 300;
    z-index: 10;
    background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0,0));
    transition: all .2s ease;
}

.navbar-active {
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 1.85rem;
    align-items: center;
    height: 80px;
    font-weight: 300;
    color: #333;
    background: #fff;
    z-index: 10;
}

.navbar-scroll-active {
    background: #fff;
    color: #333;
    box-shadow: 1px 1px 5px gray;
}

.navbarlink-active {
    color: #333;
}

.navbar-right,
.navbar-left {
    width: 50%;
    display: flex;
    align-items: center;
}

.navbar-right {
    justify-content: flex-end;
    transition: all .2s ease;
}

.navbar-right-active {
    width: 38%;
}

.navbar-logo {
    display: block;
    width: 75px;
    padding-left: 20px;
    margin-right: 40px;
}

.navbar-logo2 {
    display: none;
    width: 75px;
    padding-left: 20px;
    margin-right: 40px;
}

.navbar-logo-hide {
    display: none;
}

.navbar-logo-show {
    display: block;
}

.navbar-logo img,
.navbar-logo2 img {
    width: 60px;
}

.navbar-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.navbar-list li {
    margin-right: 25px;
    display: inline-block;
    transition: all .2s ease;
}

.navbar-list li:hover {
    color: #ff00bf;
    cursor: pointer;
}

.carrot {
    top: 1px;
    margin-left: 2px;
    font-size: 12px;
    transition: transform .2s ease;
}

.carrot-active {
    color: #ff00bf;
    transform: rotate(180deg);
}

.navbar-ride-lyft {
    border: 1px solid #f3f3f5;
    border-radius: 7px;
    padding: 7px 15px;
    margin-right: 30px;
    letter-spacing: 2px;
}

.navbar-ride-lyft:hover {
    background: rgba(255,255,255, 0.3);
    cursor: pointer;
}

.navbar-ride-lyft a:hover {
    color: #f3f3f5;
}

.navbar-ride-lyft-active {
    border-color: #333;
}

.navbar-ride-lyft-active a:hover {
    color: #ff00bf;
}

.navbar-ride-lyft-active:hover {
    border-color: #ff00bf;
    color: #ff00bf;
}

.navbar-login {
    margin-right: 20px;
}

.navbar-login:hover {
    cursor: pointer;
    color: #ff00bf;
}

.navbar-signup {
    position: absolute;
    top: auto;
    right: -125px;
    color: #ff00bf;
    font-weight: 600;
    transition: all .2s ease;
}

.navbar-signup:hover {
    cursor: pointer;
}

.navbar-signup-active {
    right: 0px;
    margin-right: 3%;
}

.navbar-pink-link {
    color: #ff00bf;
}

.navbar-link-active {
    color: #333;
}



/*/////////////////////////////
// MEDIA QUERIES
//////////////////////////////*/

@media (min-width: 550px) {
    .navbar-mobile span {
        width: 48%;
    }
}

@media (min-width:768px) {
    .navbar-mobile {
        display: none;
    }
    .navbar-container {
        display: flex;
    }
}

@media (min-width:992px) {
    .navbar-ride-lyft {
        padding: 8px 20px;
        margin-right: 40px;
    }

    .navbar-login {
        margin-right: 30px;
    }

    .navbar-list li {
        margin-right: 40px;
        display: inline-block;
    }

    .navbar-logo {
        padding-left: 30px;
        margin-right: 50px;
    }

    .navbar-signup-active {
        margin-right: 4%;
    }

    .navbar-right-active {
        width: 40%;
    }
}
