.SideMenuBackDrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 599;
  background-color: rgba(40,41,56,.8);
  position: fixed;
  transition: background-color ease .2s;
  visibility: hidden;
}

.SideMenuBackDrop.active {
  visibility: visible;
}
