.cancel-section {
  position:absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:auto;
  height:40vh;
  width:350px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  top:58vh;
  margin-left: 5px;
}

.confirmation-eta{
  text-align: center;
  font-size:20px;
  padding: 10px;
}

.car-img-cancel{
  margin:auto;
  }

.car-img-cancel img {
  height:auto;
  width:220px;
}


.the-white-box {
  height:70%;
  width:90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

.input-section {
  display:flex;
}

.color-dest-circles{
  margin-left:15px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.blue-circle {
  width:8px;
  height:8px;
  border-radius: 100%;
  background-color:#3D0880;
}

.pink-circle {
  width:8px;
  height:8px;
  border-radius: 100%;
  background-color:#FF00BF;
}

.address-input {
  margin-left:30px;

}

.address-input input{
  border:none;
  width:100%;
  border-radius: 20px;
}

.inputs-stacked {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

.test-flex{
  display: flex;
}

.cancel-shyft-btn {
  border-radius: 20px;
  height:20%;
  width:90%;
  background-color:#3D0880;
  border:1px #3D0880 solid;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 2rem;
}


.cancel-shyft-btn:hover {
  color:white;
}
